pandas
requests
wikipedia==1.4.0
transformers
spacy_universal_sentence_encoder
streamlit
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.2.0/en_core_web_lg-3.2.0-py3-none-any.whl
flatten_json
